body{
    display:flex;
    flex-direction:column;
    min-height:100vh ;
}



nav{
    margin-top: 10px;
    margin-bottom:10px;
    padding: 10px;
}
.color-nav{
    background-color:red;
}

.logo{
    font-family: Shadows Into Light, cursive;
    color: white;
    
}

img{
    width: 418px;
    height: 235px
}

.botones{
    background-color:red;

}

.botones:hover , .boton-createProduct:hover{
    background-color: rgb(97, 37, 37);
} 

.boton-createProduct{
    margin-top: 15px;
    background-color:red;
}

footer{
    margin-bottom: 0px;
    margin-top:auto;
}

.pieDePagina{
    padding: 10px;
    background-color:red;
    height: 40px;
}

.contenedor{
    height: 93vh;
}

.error {
    color: red
}

.formulario{
    margin: 60px;
}

i{
   width:20px;
}

.img-carrito{
    width:60px;
    height: 40px;
}